body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 100px 40px;
    box-sizing: border-box;
}

#main-div {
    display: flex;
}

#details-wrapper {
    padding-left: 30px;
}

.details-img-wrapper {
    width: 450px;
}

.details-img {
    width: 100%;
}

#details-wrapper {
    font-size: 1.25rem;
    font-weight: 400;
}

.details-heading {
    font-size: 2.75rem;
    font-weight: 400;
    margin-top: -10px;
    margin-bottom: 0;
}

.price-value {
    color: #009688;
    font-weight: 500;
}

.details-desc-data {
    font-size: 1rem;
    font-weight: 300;
    color: #86939e;
}

.details-product-img {
    width: 100px;
    height: 130px;
    margin-left: 5px;
    padding: 4px;
    cursor: pointer;
}

.active-card {
    border: 2px solid #009688;
    border-radius: 6px;  
}

#btn-add-cart {
    color: white;
    background-color: #009688;
    font-size: 1.15rem;
    letter-spacing: 2px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
    margin-top: 40px;
}

#btn-add-cart:hover {
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.7);
}